<?xml version="1.0"?>
<robot name="xarm7" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="is_ros2" value="false"/>

  <xacro:include filename="xarm7_robot_macro_windows.xacro"/>

  <xacro:xarm7_robot
    prefix=""
    hw_ns="xarm"
    limited="true"
    velocity_control="false"
    add_gripper="false"
    add_bio_gripper="false"
    ros2_control_plugin="uf_robot_hardware/UFRobotSystemHardware"
    robot_ip=""
    report_type="normal"
    baud_checkset="true"
    default_gripper_baud="2000000"
    model_num="0"
    inertial_params_filename=""
    kinematics_params_filename=""
    hard_interface="PositionJointInterface"
  />

</robot>
